.menu{
    width: 1224px;
    height: 32px;
    background: #6546A7;
}
.menu-texto{
    width: 100%;
    background: #6546A7;
    color: #FFF;
text-align: center;
font-size: 32px;
font-family: Inika;
font-style: normal;
font-weight: 400;
line-height: normal;

}
cabec{
    width: 1224px;
    height: 225px;
    transform: rotate(-0.186deg);
    flex-shrink: 0;
    background: #6546A7;
}
cabec-img{

width: 1224.285px;
height: 221.981px;
transform: rotate(0.186deg);
background: #FFF;
}
cabec-texto{
    display: flex;
    width: 958px;
    height: 291px;
    transform: rotate(-0.186deg);
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
text-align: center;
font-size: 48px;
font-family: Inika;
font-style: normal;
font-weight: 400;
line-height: normal;
}